
<!-- Andy- Google maps marker -->
<!-- <script type="text/javascript">
  marker = new google.maps.Marker(
  {
      map:map,
      draggable:true,
      animation: google.maps.Animation.DROP,
      position: results[0].geometry.location
  });
  google.maps.event.addListener(marker, 'dragend', function()
  {
      geocodePosition(marker.getPosition());
  });

  function geocodePosition(pos)
  {
     geocoder = new google.maps.Geocoder();
     geocoder.geocode
      ({
          latLng: pos
      },
          function(results, status)
          {
              if (status == google.maps.GeocoderStatus.OK)
              {
                  $("#mapSearchInput").val(results[0].formatted_address);
                  $("#mapErrorMsg").hide(100);
              }
              else
              {
                  $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
              }
          }
      );
  }
</script> -->

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<div style="height: 500px; width: 400px; border: 1px solid black; display: inline; float:right">
  <form action="/action_page.php" style="left:0">
    <input type="radio" name="gender" value="male"> Default (based on your IP address)<br>
    <input type="radio" name="gender" value="female"> <input type="text" placeholder="Address" name="Address"><br>
    <input type="radio" name="gender" value="other">Map: <div id="map"></div><br>

    <input type="submit" value="Submit">
  </form>
</div>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |r| %>
  <%= link_to r.question, post_path(r) %>
  <br><hr>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
