

      <h2>New Post</h2>

      <!-- Andy- Google maps marker -->

      <script>
        var map;
        var savedLat;
        var savedLng;
        function initMap() {
          map = new google.maps.Map(document.getElementById('userMap'), {
            center: {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %>},
            zoom: 15,
            styles: myStyle
          });
          marker = new google.maps.Marker({
              map:map,
              draggable:true,
              animation: google.maps.Animation.DROP,
              position: {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %>}
          });
          google.maps.event.addListener(marker, 'dragend', function(){
            geocodePosition(marker.getPosition());
            var savedInfo = (marker.getPosition());
             savedLat = savedInfo.lat();
             savedLng = savedInfo.lng();

            // console.log(savedLat);
          // debugger;
          });

          function geocodePosition(pos){
             geocoder = new google.maps.Geocoder();
             geocoder.geocode({
                  latLng: pos
              },
                  function(results, status){
                      if (status == google.maps.GeocoderStatus.OK){
                          $("#mapSearchInput").val(results[0].formatted_address);
                          $("#mapErrorMsg").hide(100);
                      }
                      else {
                          $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
                      }
                  }
              );
          };
        };
      </script>

<div style="height: 500px; width: 400px; border: 1px solid black; display: inline; float:right; margin-right: 100px">
  <h2>My Location</h2>
  <form action="/action_page.php" style="left:0">
    <input type="radio" name="userLoc" value="male"> Default (based on your IP address)<br><br>
    <input type="radio" name="userLoc" value="female"> <input type="text" placeholder="Address" name="Address"><br><br>
    <input type="radio" name="userLoc" value="other">Map: <div id="userMap"></div><br>
    <input type="submit" value="Submit">
  </form>
</div>
