.comment-submit {
  display: none;
}

.page-login {
  margin-top: 25px;
  text-align: center;
}

.main {

  padding: 10px;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border: 1px solid gray

}

.searchbar {
  text-align: center;
  padding:10px;

}

#searchbutton {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

/*#searchbutton:hover {
  transform: scale(0.5);

}*/

#map {
  position: relative;
  top: 2000px;
}

/*James: CSS to allow scroll within comments section*/
#commentViewport{
  overflow: auto;
  height: 500px;
}
