
/*show page name and up and down votes*/

.questionvotes{
  font-size: 20px;

}

/*Julian - Application.html.erb file layout*/
.signUpButton{
  color:#E0E1E2 !important;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #273e52;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
}

.headercolumns {
  display: flex;
  height: 15%;
  flex-grow: 1;
}

  .col1 {
    flex-grow: 1;
    background: white;
  }
  .col2 {
    width: 25%;
    order: -1;
  }
  .col3 {
    width: 25%;
  }
  .col4 {
    width: 80%;
  }

  .col5 {
    overflow: hidden;
  }

.fraga {
  text-align: center;
  padding-top: 40px;
  cursor: pointer;
}

.loginright {
  text-align: center;
  padding-top: 40px;
}

.pointer {
  cursor: pointer;

}

.searchmenu {
  display: absolute;
  right:150px;
}

html,
body,
.page {
  height: 100%; /* needed for proper layout */
  justify-content: center;
  text-align: center;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

p {
  margin-bottom: 1em;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  height: 15%;
  flex: 0 0 auto;
  background-color: #fafafa;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.questionlist {
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  padding: 10px;
}

.questionlist:hover {
  color:#006af1;
}

.comment-submit {
  display: none;
}
.page-login {
  margin-top: 25px;
  text-align: center;
}

.main {
  padding: 10px;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border: 1px solid gray
}

.searchbar {
  top: -20px;
  text-align: center;
  padding:10px;
}

#searchbutton {
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

#map {
  position: relative;
  top: 2000px;
  transition: 0.5s;
}

table{
  margin: auto;
}

.newPost{
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 75%

}
#userMap {
  height: 800px;
  width: 100%;
}

#showmap {
  height: 450px;
  width: 100%;
}



.userPickMap{
  height: 800px;
  width: 800px;
  border: 1px;
  display: inline;
  float:right;
  margin-right: 10px;
}

.userPostList{
  height: 500px;
  width: 800px;
  border: 1px black;
  display: inline;
  float: center;
  margin: auto;

}

/*James: CSS for sliding nav bar*/
/* The side navigation menu */
.sidenav {
    opacity: 0.9;
    height: 85%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #f0f0f0; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; // Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fbfbfb;
    display: block;
    transition: 0.3s

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    float: right;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*James: End CSS for sliding nav bar*/

/*James: CSS to allow scroll within comments section*/
#commentViewport{
  overflow: auto;
  height: 500px;
}
